<div class="shadow-2xl p-4 mb-8 rounded-lg bg-white">
	<h2 class="text-center text-3xl">Comments</h2>

	<div id="comments">
		<%= render post.comments %>
	</div>

	<%= render "comments/form", post: post %>
</div>
