<div class="mx-auto md:w-2/3 w-full shadow-2xl rounded-lg p-8 bg-white">
  <div class="flex justify-start">
    <%= link_to (heroicon "arrow-left"), posts_path, class: "button ml-2" %>
  </div>

  <h1 class="font-bold text-4xl mt-4 flex justify-center">New post</h1>

  <%= render "form", post: @post %>

</div>
