<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <div class="flex justify-center">
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block shadow-2xl" id="notice"><%= notice %></p>    
      </div>
    <% end %>

    <%= render @post %>
  </div>
</div>
