<% if ['/', '/posts'].include?(request.path) %>
  <div data-controller="post_filter" class="fixed right-0 top-5 z-50 bg-white rounded-lg origin-center -translate-x-full transition-transform">
    <button type="button" class="hover:text-blue-600 pl-4 text-white" data-action="click->alert#toggle">
      <%= heroicon('chevron-left') %>
    </button>
    <% Post.statuses.each do |status| %>
      <%= link_to status[0].capitalize, "#{request.path}?filter=status" %>
    <% end %>
  </div>
<% end %>